.tweetbox{
  background-color: aquamarine;
  border-radius: 100px;
  height: 190px;
  width: 1000px;
  position: relative;

}

img {
    width: 150px;
    border-radius: 125px;
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    top: 17px;
    position: relative;
  }
.name {
    position: relative;
    top: 20px;
    font-size: 30px;
  }
.username {
    font-size: 15px;
    top: -10px;
    left: 10px;
    position: relative;
  }
.substance {
    font-size: 15px;
    color: rgb(68, 218, 255);
    font-weight: bolder;
  }